* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.header-container {
  max-width: 1280px;
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
}

.navigations ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.navigations ul a {
  text-decoration: none;
  color: rgb(88, 86, 86);
}

.btn {
  background-color: #1d4ed8;
  padding: 16px 28px;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background-color: #1d4fd8d9;
  color: rgba(255, 255, 255, 0.879);
}

.banner-container {
  min-height: 100vh;
  background-image:
    radial-gradient(
      circle at bottom left,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.4) 35%,
      rgba(0, 0, 0, 0) 70%
    ),
    url(./assets/banner.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
}

.banner-contents {
  /* max-width: 600px; */
  height: 70vh;
  margin: 80px auto;

  text-align: center;
  display: flex;
  flex-direction: column;
}

.banner-heading {
  font-size: 4rem;
  font-weight: black;
  color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.banner-description {
  color: rgba(255, 255, 255, 0.626);
  margin-bottom: 40px;
}

.banner-btn {
  margin-top: auto;
  margin-bottom: 20px;
}

main {
  margin: 40px auto;
  max-width: 1280px;
}

.speaker-heading {
  text-align: center;
  font-size: 4rem;
}
